main {
  background-color:#dedede;
  text-align:center;
  padding:1rem;
}
.uniform-card {
  width: 100%;
  max-width:26rem;
  min-height: 28rem;
  display: flex;
  flex-direction: column;
  margin:0 auto;
  
}
.pink-card{
  background-color:#fdf1f1;

}
.amiko-regular {
  font-family: "Amiko", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.style-script-regular {
font-family: "Style Script", cursive;
font-weight: 400;
font-style: normal;
}
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
